body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f8f9fa;
    }

    /* HEADER */
    #header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 60px;
      background-color: #e3e6f2;
      box-shadow: 0 5px 15px rgba(0,0,0,0.06);
      z-index: 999;
      position: sticky;
      top: 0;
      left: 0;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
    }

    .search-bar {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
    }

    .search-bar input {
      width: 60%;
      padding: 8px;
      border: none;
      border-radius: 4px 0 0 4px;
      outline: none;
    }

    .search-bar button {
      padding: 8px 12px;
      background-color: #7a5f26;
      border: none;
      border-radius: 0 4px 4px 0;
      color: white;
      cursor: pointer;
    }

    .auth-buttons a {
      background-color: white;
      color: #cfa64e;
      padding: 8px 12px;
      border-radius: 5px;
      margin-left: 8px;
      text-decoration: none;
      font-weight: bold;
    }

    .auth-buttons a:hover {
      background-color: #f1f1f1;
    }

    /* MENU */
    #navbar {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px;
    }

    #navbar li{
      list-style: none;
      padding: 0 20px;
      position: relative;
    }

    #navbar li a {
      text-decoration: none;
      margin: 8px 15px;
      font-weight: bold;
      font-size: 16px;
      color: #333;
    }


    /* SẢN PHẨM */
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 30px;
    }

    .product {
      background-color: white;
      border-radius: 8px;
      border: 1px solid #ddd;
      width: 220px;
      text-align: center;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      transition: transform 0.2s;
    }

    .product:hover {
      transform: scale(1.05);
    }

    .product img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }

    .product h3 {
      font-size: 16px;
      margin: 10px 0 5px;
    }

    .product p {
      color: #d9534f;
      font-weight: bold;
      margin: 5px 0;
    }

    .product button {
      background-color: #cfa64e;
      border: none;
      color: white;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
    }

    .product button:hover {
      background-color: #b48a3c;
    }

    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 20px;
    }